{% extends 'base.html' %}
{% block head_title %}Todos{% endblock %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-[500px] mx-auto mb-4">
        <form action="" method="post" class="flex items-center gap-2">
            {% csrf_token %}
            {{ form.title }}
            <button class="py-2 px-4 bg-[#2696a1] rounded text-white font-medium">Submit</button>
        </form>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                ID
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                Title
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                Status
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Action</th>
            </tr>
          </thead>
          <tbody>
            
            {% for object in object_list %}
                <tr>
                    <td class="px-4 py-3">#{{ object.id }}</td>
                    <td class="px-4 py-3">
                        
                        {% if object.is_active %}
                            {{ object.title}}
                        {% else %}
                        <del>{{ object.title}}</del>
                        {% endif %}
                            
                    </td>
                    <td class="px-4 py-3">
                        
                        {% if object.is_active %}
                            Incomplete
                        {% else %}
                            Complete
                        {% endif %}
                            
                    </td>
                    <td class="w-10 text-center">
                    <a href="{% url 'todos-complete' pk=object.pk %}" type="submit" class="py-2 px-4 bg-[#2696a1] rounded text-white font-medium">Complete</a>
                    </td>
                </tr>
            {% endfor %}
                
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}